textarea
{
display:block;
margin-bottom:10px;
width:100%;
border:1px solid black;
border-radius:10px;
}
input[type="text"]
{
display:block;
margin-bottom:10px;
width:100%;
margin-top:10px;
border:1px solid black;
border-radius:10px;
}
#submit{
background:#008CBA;
	font-family: 'Economica', cursive;
	font-size:2rem;
	margin-left:35%;
	margin-top:10px;
font-color:black;
	border-radius:10px;
height: 35px;
width: 25%;
	align:center;
text-shadow:none;
}
#submit1{
background:#008CBA;
	font-family: 'Economica', cursive;
	font-size:2rem;
	margin-left:10%;
font-color:black;
	border-radius:10px;
height:30px;
width: 25%;
text-shadow:none;
margin-top:2%;
}
