.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}
#logo-txt{
font-family: 'Modak', cursive;
  font-size:5rem;
color: green;
  position:relative;
  top:-80px;
  left:20px;
  
 }
h5{
     font-family: 'Economica', sans-serif;
  font-size:6rem;
color: black;
    padding-left:20px;
}
h4{
  font-family: 'Economica', sans-serif;
color:black;
 font-size:4rem; 
  padding-left:20px; 
}
#aboutus>p{
padding-left:20px; 
font-size: 3rem;
 font-family: 'Economica', sans-serif;
}
#producersimg{
padding-left:30px; 
    border-radius:15px;
}

#producersp{
    font-size: 3rem;

   font-family: 'Economica', sans-serif;
}
#tradersimg{
  padding-left:30px;
 
    border-radius:15px;
}

#tradersp{
    font-size: 3rem;
   font-family: 'Economica', sans-serif;
}
#customersimg{
  padding-left:30px;

    border-radius:15px;
}

#customersp{
    font-size: 3rem;

   font-family: 'Economica', sans-serif;
}
#nprofitsimg{
  padding-left:30px;
  
  border-radius:15px;
}

#nprofitsp{
    font-size: 3rem;

   font-family: 'Economica', sans-serif;
}
#fsuppliersimg{
  padding-left:30px;

  border-radius:15px;
}

#fsuppliersp{
    font-size: 3rem;

   font-family: 'Economica', sans-serif;
}
#schemesimg{


  border-radius:15px;
}

#schemesp{
    font-size: 3rem;

   font-family: 'Economica', sans-serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: green;
}

  .navbar-default {
    background-color: green;
    border-color:white;
}
a{
text-decoration: none;
}
a.button {
    background-color: green; /* Green */
     font-family: 'Economica', sans-serif;
    padding: 4px 10px;
  border-radius:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  color: white;
  border: 2px solid green;
 border-radius:15px;
}
#Reg-text{
    font-family: 'Economica', sans-serif;
   color:black;
  font-size: 6rem;
 }
#Registrations{
  padding-left: 20px;
 }
.button:hover {

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
font-size: 2.5rem;
    font-family: 'Economica', sans-serif;
}
#contactus{
    font-family: 'Economica', sans-serif;
   color:black;
  font-size: 3rem;
  margin-left:-150px; 
  }
